* {
  margin: 0;
  padding: 0;
}

.content {
  padding: 0 7px;
  /* margin: 0 7px; */
  background-color: #f3f3f3;
}

li {
  list-style-type: none;
  color: #fdfffc;
}

.side-bar {
  background-color: #393a44;
  min-width: 200px;
}

.button {
  border: none;
  border-radius: 9px;
  padding: 3px 10px;
  margin-top: 5px;
}

/* reservations */

.reservations {
  display: flex;
  flex-wrap: wrap;
}

.reservation {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 360px;
  padding: 9px;
  background-color: rgba(1, 1, 1, 0.9);
  border-radius: 10px;
}

.reservation button {
  border: none;
  border-radius: 9px;
  padding: 3px 10px;
  margin: 5px 8px 0 0;
  /* color: #edf2f4;
  background-color: #ef233c; */
}

.reservation button:hover {
  /* color: #ef233c; */
  background-color: white;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .2s;
}

.edit {
  /* background-color: rgb(255, 244, 206); */
  background-color: rgba(244, 211, 94);
  
}

.edit:hover {
  background-color: rgb(255, 229, 136) !important;
  color: black !important;
  /* color: rgba(244, 211, 94) !important; */
}

.cancel {
  background-color: #ef233c;
  color: #edf2f4;
}

.cancel:hover {
  background-color: #ff5f72 !important;
}


/* tables */

.tablesTitle {
  margin-left: 5px;
}

.tables {
  display: flex;
  flex-wrap: wrap;  
}

.table {
  padding: 9px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 170px;
  margin: 5px;
  border-radius: 10px;
  background-color: rgba(1, 1, 1, 0.9);
  min-height: 120px;
  position: relative;
}

/* .table li {
  color: #fdfffc;
} */

.table .button {
  color: #edf2f4;
  background-color: #ef233c;
}

.table .button:hover {
  background-color: #edf2f4;
  color: #ef233c;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .3s;
}

.detail {
  margin-left: 4px;
  color: #99c1de;
}

.occupied {
  color: #ef233c;
}

button.x {
  font-size: 18px;
  color: #edf2f4;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 2%;
  right: 6%;
}

button.x:hover {
  font-size: 23px;
  color: white;
  transform: translate(7%, -12%);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .2s;
  text-shadow: 2px 2px 4px rgba(255,255,255,0.2), 0px -5px 15px rgba(255,255,255,0.3);
}

button.x:focus {
  outline: none;
}

/* for mobile? */
button.x:active {
  font-size: 23px;
  color: white;
  transform: translate(7%, -12%);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .2s;
  text-shadow: 2px 2px 4px rgba(255,255,255,0.2), 0px -5px 15px rgba(255,255,255,0.3);
}
